.srs-practice-speech-speed {
  margin-right: auto;
}

.srs-practice-counter {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  text-align: right;
}

.srs-practice-revealed-content {
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 0.5rem;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  & .highlighted-item {
    &.filler {
      background-color: #67676780;
    }

    &.unresolved {
      background-color: #676767;
    }

    &.passed {
      background-color: #008100;
    }

    &.failed {
      background-color: #c10000;
    }

    &.locked {
      box-shadow: inset 0 0 0 2px #c300ff;
    }
  }

  & .grammar-rule-name {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  & .language-sentence {
    font-size: 1.5rem;

    & .highlighted-item {
      white-space: nowrap; // Prevent SRS words from line-breaking
    }
  }

  & .english-sentence {
    font-size: 1.5rem;
  }

  & .submit-button {
    margin-top: 2rem;
  }
}