@use "themeVariables" as *;

.add-vocabulary-entry-settings {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: center;

  & .name {
    text-align: right;
  }

  & .notes {
    height: 4rem;
  }
}

.vocabulary-notes {
  flex-grow: 1;
}